:root {
  --main-color: rgba(255, 255, 255, 0.809);
}

html,
body,
body:not(label) {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Anek Telugu", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: large;
}

label {
  font-size: small;
}

body {
  background-color: white;
  background-image: url("background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

form {
  max-width: 50%;
  background-color: white;
  position: absolute;
  right: 0;
  margin: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  background-color: var(--main-color);
}

.header {
  padding-top: 60px;
  max-width: 60%;
  padding-left: 35px;
}

.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  margin: 0;
  padding: 35px;
  padding-top: 0;
}

.info p {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  row-gap: 4px;
}

.footer {
  padding: 35px;
}

.btn {
  background-color: rgba(8, 17, 46, 0.822);
  font-size: medium;
  border: none;
  border-radius: 8px;
  padding: 15px 32px;
  color: white;
  font-weight: bold;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgba(8, 17, 46, 0.822);
  font-weight: bold;
}

.form-row input[type="text"]:invalid,
.form-row input[type="email"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.btn:hover {
  background-color: rgba(8, 17, 46, 0.69);
  cursor: pointer;
}

input[type="password"]:invalid {
  border: 1px solid #d55c5f;
  color: #d55c5f;
  box-shadow: none;
}

.credit {
  position: absolute;
  left: 15%;
  bottom: 0;
  color: white;
}
